.ribbon{
  position: relative;
  background: black;
  color: white;
}
ul li{
  display: inline-block;
  color: yellow;
  margin-left: 5px;
}
.container{
 position:relative;
 height:auto;
 width:auto;
 padding: 10px;
 margin-left:50px;
 margin-right:50px;
}
